# Nvidia driver 560 <- 555

annotated-types~=0.7.0
deepdiff~=8.0.1
lxml==5.3.0

numba==0.60.0
numpy~=2.0.2
# numpy==2.1.2
numpydantic~=1.6.3

PyMeasure==0.14.0
pyqtgraph==0.13.7

pandas==2.2.2

pydantic>=2.9.0
# pydantic_numpy==6.0.0
pydantic-settings==2.4.0

pyopengl==3.1.7
# pyqt6==6.7.1
PySide6~=6.7.3
pyqtdarktheme==2.1.0
qtpy~=2.4.1

torch==2.4.1  # +cu124
vispy==0.14.3

pycuda==2024.1.2


