<?xml version="1.0" encoding="utf8"?>
<dict>
  <app type="dict" class="EngineAppSettings">
    <DictItem type="str" key="backend_name">pyside6</DictItem>
    <DictItem type="int" key="theme">0</DictItem>
    <DictItem type="int" key="corner_shape">1</DictItem>
    <DictItem type="dict" class="Windows" key="windows">
      <DictItem type="dict" class="WindowSettings" key="main">
        <DictItem type="int" key="screen">0</DictItem>
        <DictItem type="list" key="size">
          <ListElementElement type="int">1600</ListElementElement>
          <ListElementElement type="int">1000</ListElementElement>
        </DictItem>
      </DictItem>
    </DictItem>
  </app>
</dict>
